 * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    margin: 10px;
    background-color: aqua;
    border: 0.8px double green;  
    border-color: green black green;
    display: flex;
    
}
.list{
    vertical-align: top;
    margin: 0;
    padding: 10px;
    width: 30%;
    background-color: bisque;
    height: 80px;
}

.main{
    background-color: darkgray;
    max-width: 70%;
}

@media (max-width: 800px) {
    .container{
        display:block;
    }
    li{
        display: inline;
        margin: 0;
    }
    ul{
        margin: 0;
    }
    .list{
        margin: 15px 0;
        width: 100%;
        padding: 0;
        height: auto;
    }
    .main{
        max-width: 100%;
    }
}