* {
    padding: 0px;
    margin: 0px;
    border: 0; 
    box-sizing: border-box;
}

.content {
    display: flex;
    width: 100%;

}
.header {
    width: 100%;
    background-color: #EAEAEA;
    height: 80px;
    padding-top: 5px;
}
.header-title{
    margin-left: 8px;
}

.left__column {
    width: 25%;
    min-width: 25%;
    
}
.left__column-content {
    width: 100%;
    display: inline-block;
    background-color: #C8FC98;
    padding: 0 8px 8px 10px;

}
.left__column p {
    line-height: 140%;
    text-align: left;
    width: 100%;
}
.center__column {
    flex-grow: 1;
    padding: 0 8px;
}
.center__column p {
    width: 100%;
    line-height: 140%;
       
}
.right__column {
    width: 200px;
    min-width: 200px;
    background-color: #FDE95E;
    padding: 0 8px 8px 8px; 
}
.right__column p {
    width: 100%;
    line-height: 140%;

}
.footer {
    text-align: center;
    background-color: black;
    padding: 10px 0;
}
.footer a {
    color: #FDE95E;

}